{css href="/assets/css/index.css"}

<section class="banner-wrap">
    <div class="container bn-c  ">
        <div class="row">

            <div class="col-md-6 form_rec ">
                <div class="form_title text-center">
                    <span>填写信息</span>&nbsp;
                    <span>精准推荐符合您要求的月嫂</span>
                </div>
                <div class="form_input">
                    <ul class=" ">
                        <li>
                            服务类型
                            <span class="pull-right"><span class="se_v" data-type="yuesao">月嫂</span>&nbsp;<span
                                    class=" glyphicon glyphicon-menu-down ico_select_ycq  "
                                    style="color: rgba(0,0,0,0.45);"></span></span>

                        </li>
                        <li class="service_type" id="hideYrs" style="display: none">
                            <p data-type="yuersao">育儿嫂  </p>


                        </li>

                        <li>
                            预产期
                            <span class="pull-right"><span class="se_v" data-ycq="普通产妇">普通产妇</span>&nbsp;<span
                                    class=" glyphicon glyphicon-menu-down ico_select_ycq  "
                                    style="color: rgba(0,0,0,0.45);"></span></span>

                        </li>

                        <li class="yuchan_sel" id="hideYcq" style="display: none ">
                            <p data-ycq="普通产妇">普通产妇</p>
                            <p data-ycq="特殊产妇">特殊产妇</p>
                            <p data-ycq="足月儿">足月儿</p>
                            <p data-ycq="早产儿">早产儿</p>
                            <p data-ycq="特殊疾病护理">特殊疾病护理</p>
                            <p data-ycq="月子餐">月子餐</p>
                            <p data-ycq="产后康复">产后康复</p>

                        </li>

                        <li contenteditable="true" data-name="username">您的姓名</li>
                        <span class="u-span">请输入</span>
                        <li contenteditable="true" data-name="phone">您的电话</li>
                        <span class="p-span">请输入</span>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 center-block">
                <div class="banner_tx_box hidden-xs">

                </div>
                <div class="col-xs-12 visible-xs">
                    <img src="__CDN__/assets/img/bn_box_t.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 500px"></div>

</section>
<section class="service-wrap">
    <div class="container ">
        <div class="row">
            <p class="services_title">我们的服务理念</p>
            <p class="ser_note">以专业的技能，贴心的服务，强大的保障，为家庭提供健康科学的月子服务</p>
            <div class="col-md-12 services_img hidden-xs"></div>
            <div class="col-xs-12 visible-xs">
                <img src="__CDN__/assets/img/10a30455de3487b762df9739118ca6a85b4acbc14c1fbc-s6ntVy.png" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row ser-container">
            <span class="pos_img" style="">  </span>
            <p class="services_title_2">严格的月嫂筛选</p>
            <p class="ser_note">我们一直坚持严筛选，严把关，严培训的选择挑选您心仪的月嫂</p>

            <div class="col-md-4 ">
                <div class="ser_item">
                    <div class=" ser_top_img1">
                    </div>
                    <p class="p_t_1">身份证公安机关备案</p>
                    <p class="p_t_2">源头筛选月嫂，我们更安全。</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div  class="ser_item">
                    <div class="ser_top_img2">
                    </div>
                    <p class="p_t_1">认证流程</p>
                    <p class="p_t_2">以行为礼仪、服务意识、理论、实操等四个维度全面考核月嫂。</p>
                </div>

            </div>
            <div class="col-md-4  ">
                <div  class="ser_item">
                    <div class=" ser_top_img3">

                    </div>
                    <p class="p_t_1">专业的月嫂培训</p>
                    <p class="p_t_2">接好孕月嫂中心通过多种课程培训，打造更全能的月嫂，为宝妈和宝宝提供更优质的服务。</p>
                </div>


            </div>
        </div>

    </div>
    </div>
</section>
<section class="after-sales">
    <div class="container sales-container">
        <div class="row sales-row" >
            <div class="col-md-6" style="padding-right: 0">
                <div class="sales-left-img">

                </div>
            </div>
            <div class="col-md-6 right-row text-center">
                <p>优质的服务品质＋售后保障</p>
                <div class="row col-block">
                    <div class="col-md-6 col-xs-6">
                         <img class="ser_img img-circle  " src="__CDN__/assets/img/1@2x.png" width="64">
                        <p class="sales_t">服务监管</p>
                        <p>月嫂上户过程中，通过沟通和维护，监管月嫂的服务质量。</p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img class="ser_img img-circle  " src="__CDN__/assets/img/2@2x.png" width="64">
                        <p class="sales_t">售后回访</p>
                        <p>签订合同后，一对一专属客服服务过程全程跟踪。</p>

                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img class="ser_img img-circle  " src="__CDN__/assets/img/3@2x.png" width="64">
                        <p class="sales_t">定制保险</p>
                        <p>为客户、月嫂定制平安保险，人身、财产双重险。</p>

                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img class="ser_img img-circle  " src="__CDN__/assets/img/4@2x.png" width="64">
                        <p class="sales_t">换退保障</p>
                        <p>服务期间可随时更换。</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="ser_step">
    <div class="container">


    <p>服务流程</p>
    <p>全程服务质量跟踪</p>
        <div class="row " style="padding:  50px 0;">

            <img src="__CDN__/assets/img/f15667b767b57016d0d51e901ca6071.png" alt=""    class="img-responsive hidden-xs" >
            <img src="__CDN__/assets/img/a9772f20d92e40b0251f2a1fcea375d.png" alt=""    class="img-responsive visible-xs col-xs-12" >
            <img src="__CDN__/assets/img/58bfb55f9cb7c952ab45a896908d24d.png" alt=""  style="padding-top: 20px"  class="img-responsive visible-xs col-xs-12" >

        </div>

    </div>
</section>