

<section id="res">
    <div class="container ">
        <div class="row logo_register  ">
            <div class="col-md-6  col-md-offset-3 ">
                <img src="__CDN__/assets/img/WechatIMG9@2x.png" alt="" width="198" class="center-block">
                <div class="res_box    ">
                    <div class="row   ">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="text-center">登录您的账号</h3>
                            <form name="form1" id="register-form" class="form-vertical" method="POST" action="">
                                <input type="hidden" name="invite_user_id" value="0" />
                                <input type="hidden" name="url" value="{$url}" />
                                {:token()}
                                <div class="form-group">
                                    <!--<label class="control-label required">{:__('Email')}<span class="text-success"></span></label>-->
                                    <div class="controls">
                                        <span style="display: inline-block" class="label-left">手机号 </span>
                                        <input type="text" name="mobile" id="c-mobile" data-rule="required:mobile"  class="form-control input-lg"  >
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--<label class="control-label">{:__('Captcha')}</label>-->
                                    <div class="controls">
                                        <div class="input-group input-group-lg">
                                            <!--<span style="display: inline-block" class="label-left">图形验证码 </span>-->

                                            <input type="text"  name="captcha" class="form-control " placeholder="{:__('图形验证码')}"  style="border-radius: 0;float: left;text-align: left" />
                                            <span class="input-group-addon" style="padding:0;border:none;">
                                <img src="{:captcha_src()}" width="140" height="42" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>
                            </span>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="controls" style="position: relative">

                                        <input type="text" style="text-align: left;padding-left: 10px"   id="c-code" name="code"  class="form-control input-lg pull-left text-left" placeholder="{:__('请输入验证码')}">
                                        <span class="tagers"></span> <span style="" class="label-left get-code"  >获取验证码</span>

                                        <!--<p class="help-block"></p>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" style="height: 48px;background-color: rgb(3, 204, 255)" class="btn btn-primary btn-lg btn-block">{:__('登录')}</button>
                                </div>
                                <p class="text-center " style="padding: 15px 0 50px 0;"><span>已有账号？</span><span><a href="{:url('user/register')}">去注册</a></span></p>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

