

<section id="res">
    <div class="container ">
        <div class="row logo_register center-block">
            <div class="col-md-6  col-md-offset-3 ">
                <img src="__CDN__/assets/img/WechatIMG9@2x.png" alt="" width="198" class="center-block">
                <div class="res_box center-block  ">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3 class="text-center">注册新账户</h3>
                            <div style=" ">
                                <ul>
                                    <li>
                                        <span class="text-left p_l_10">手机号码</span>
                                        <span contenteditable="true"    class="text-right p_r_10 res_form_note phone">

                                        </span>
                                    </li>
                                    <li data-cod="code">
                                        <span class="text-left p_l_10"> 手机验证码</span>
                                        <span class="text-right p_r_10 cli-code " >
                                          获取验证码
                                        </span>
                                    </li>
                                    <li>
                                        <span class="text-left p_l_10">联系人&nbsp;&nbsp;</span>
                                        <span contenteditable="true"   class="text-right p_r_10 res_form_note">

                                        </span>
                                    </li>
                                    <li>
                                        <span class="text-left p_l_10">宝宝昵称</span>
                                        <span contenteditable="true"   class="text-right p_r_10 res_form_note">

                                        </span>
                                    </li>
                                    <li>
                                        <span class="text-left p_l_10" style="margin-right: 10px">预产期</span>
                                        <span contenteditable="true" class="text-right p_r_10 res_form_note">

                                        </span>
                                    </li>
                                    <li>
                                        <span class="text-left p_l_10">服务地址</span>
                                        <span contenteditable="true" class="text-right p_r_10 res_form_note">

                                        </span>
                                    </li>
                                </ul>
                                <button class="btn btn-lg send-register" style="width: 100%;background: #03CCFF;color: #fff;min-height: 48px;    margin: 10px 0 30px 0;">注册</button>
                                <p class="text-center"><span>已有账号?</span> &nbsp;<a href="">立马登录</a></p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>